html, body {
    height: 100%;  /* Asegura que el cuerpo ocupe toda la altura de la página */
    margin: 0;     /* Elimina los márgenes predeterminados */
    overflow-x: hidden;
}

body {
    display: flex;
    flex-direction: column; /* Coloca los elementos en columna */
    justify-content: space-between;
    font-family: 'Avalon', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('../img/web2.png');
    background-size: cover; /* Hace que la imagen cubra todo el ancho sin deformarse */
    background-position: center; /* Centra la imagen si hay exceso de alto */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    min-height: 100vh; 
}

header { 
    background: linear-gradient(to top, #207388, #135764);


    color: rgb(255, 255, 255);
    display: grid; /* Usar grid para el layout */
    grid-template-columns: auto 1fr auto; /* Para el botón de inicio, el título, y el botón de cerrar sesión */
    align-items: center; 
    padding: 10px;
    width: 100%; /* Asegura que el header ocupe todo el ancho de la página */
    position: fixed; /* Hace que el header se quede fijo en la parte superior */
    top: 0; /* Asegura que esté en la parte superior */
    left: 0; /* Alinea a la izquierda */
    z-index: 1000; /* Coloca el header sobre cualquier otro contenido */
    box-shadow: 0 4px 2px -2px rgba(0,0,0,0.1); /* Añade una ligera sombra para separarlo del contenido */
}

header h1 {
    text-align: center; 
    font-size: 24px; 
    margin: 10px 0; /* Añadir margen superior e inferior */
}
h1{
     margin-top: 100px; 
    text-align: center;
}
.main {
    margin-top: 70px; /* Ajusta el espacio debajo del header fijo */
}

#inicioButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#inicioButton img {
    width: 30px; /* Tamaño de la imagen */
    height: 30x; /* Tamaño de la imagen */
    margin-right: 5px; /* Espacio entre la imagen y el texto */
}

/* Botón de Cerrar Sesión */
#logoutbutton {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#logoutbutton img {
    width: 30px; /* Tamaño de la imagen */
    height: 30px; /* Tamaño de la imagen */
    margin-right: 5px; /* Espacio entre la imagen y el texto */
}


/* Formulario */
form {
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    max-width: 500px;
    width: 90%;
}

form label {
    font-weight: bold;
    color: #0066cc;
}

form input {
    display: block;
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 10px;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

form button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #45a049;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

/* Table Styles */
.table-container {
    margin: 20px auto;
    max-width: 90%;
    overflow-x: auto; /* Permitir desplazamiento horizontal */
    border-radius: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    min-width: 600px; /* Ancho mínimo para tablas más grandes */
    
    margin: 20px auto;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

thead {
    background-color: #00913e;
    color: white;
}

thead th {
    padding: 10px;
    text-align: left;
}

tbody td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

/* Botones dentro de la tabla */
.edit-btn, .delete-btn {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.edit-btn {
    background-color: #0056b3;
    color: white;
}

.delete-btn {
    background-color: #f44336;
    color: white;
}

.edit-btn:hover {
    background-color: #0056b3;
}

.delete-btn:hover {
    background-color: #e41f1f;
}

/* Estilo de desplazamiento horizontal */
.table-container {
    overflow-x: auto;
}

td, th {
    white-space: nowrap; /* Evitar que el contenido se ajuste en varias líneas */
}




footer {
    background-color: #00913e;
    padding: 0%;
    color: white;
    text-align: center;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
@font-face {
    font-family: 'Avalon';
    src: url('fond/Avalon\ Bold.ttf') format('truetype');
}

@media (max-width: 480px) {
    html, body {
        overflow-x: hidden; /* Previene el desplazamiento horizontal */
    }
}
