/* General Styles */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom right, #f4f4f4, #e0f7fa);
}

h1, h2 {
    color: #0066cc;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}

/* Formulario de Divisas */
form {
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    max-width: 500px;
    width: 90%;
}

form label {
    font-weight: bold;
    color: #0066cc;
}

form input {
    display: block;
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 10px;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

form button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #45a049;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}
.buttonsini {
    display: flex;
    margin: auto;
    align-items: center; 
    justify-content: space-between; 
    width: 40%;
}

#logoutbutton {
    display: block;
    width: 70%; /* Incrementar el ancho del botón */
    padding: 15px 20px; /* Incrementar el relleno (espacio interno) */
    background-color: #45a049;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px; /* Incrementar el tamaño de la fuente */
    margin-top: 10px;
    text-align: center; /* Asegura que el texto esté centrado */
    
    /* Evitar saltos de línea */
    white-space: nowrap; 
    overflow: hidden; /* Ocultar el desbordamiento del texto */
    text-overflow: ellipsis; /* Mostrar '...' si el texto es demasiado largo */
}

form button:hover {
    background-color: #45a049;
}

/* Table Styles */
.table-container {
    margin: 20px auto;
    max-width: 90%;
    overflow-x: auto; /* Permitir desplazamiento horizontal */
    border-radius: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

thead {
    background-color: #0066cc;
    color: white;
}

thead th {
    padding: 10px;
    text-align: left;
}

tbody td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

/* Botones dentro de la tabla */
.edit-btn, .delete-btn {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.edit-btn {
    background-color: #0056b3;
    color: white;
}

.delete-btn {
    background-color: #f44336;
    color: white;
}

.edit-btn:hover {
    background-color: #0056b3;
}

.delete-btn:hover {
    background-color: #e41f1f;
}

/* Estilo de desplazamiento horizontal */
.table-container {
    overflow-x: auto;
}

table {
    min-width: 600px; /* Definir un ancho mínimo para permitir el desplazamiento horizontal */
}

td, th {
    white-space: nowrap; /* Evitar que el contenido se ajuste en varias líneas */
}
