
/* General Styles (ya incluidas en stylesAdmin.css) */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom right, #f4f4f4, #e0f7fa);
}

header { 
    background-color: #00913e;
    color: rgb(255, 255, 255);
    flex-direction: column;
    text-align: center;
    display: flex;
    justify-content: space-between;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; 
}

header h1 {
    grid-row: 1; /* Fila 1 */
    text-align: center; /* Centrar el texto */
    font-size: 24px; /* Tamaño de fuente */
}


h1 {

    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}

form {
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    max-width: 400px;
    width: 90%;
}

form label {
    font-weight: bold;
    color: #0066cc;
}

form input {
    display: block;
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 10px;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

form button {
    display: block;
    width: 100%;
    padding: 15px;
    background-color: #00913e;
    color: white;
    font-size: 18px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    text-align: center;
    margin-bottom: 5px;
}

form button:hover {
    background-color: #019670;
}

footer {
    text-align: center;
    background-color: #00913e;
    color: white;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
